.contactContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    font-weight: bold;
    color: white;
}

.contactForm {
    background-color: rgb(0, 35, 0);
    border: solid 4px  rgba(200, 180, 100);
    display: flex;
    flex-direction: column; 
    width: 300px;
    height: 420px;
    border-radius: 20px;
    box-shadow: 10px 1px 30px;
}

/* Details */


label:first-child {
    margin-top: 30px;
}

label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px 0px 5px 0px;
    font-size: 13px;
    border: solid orange;
}
label > input {
    width: 220px;
    align-self: center;
}

label > .textarea {
    height: 120px;
    width: 220px;
    align-self: center;
}

label > input:hover,
label > .textarea:hover {
    border: solid rgb(223, 223, 2)
}


/* Buttons */

.buttonContainer {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}
.submitButtonForm, .resetButtonForm {
    background-color: white;
    opacity: 90%;
    border: solid 1px rgba(200, 180, 100);
    border-radius: 3px;
    box-shadow: 1px 1px 1px;
    width: 50px;
    height: 20px;
}

.submitButtonForm:hover, .resetButtonForm:hover {
    background-color:  rgba(200, 180, 100);
}

@media screen and (min-width: 414px) {
    .contactForm {
        margin-top: 30px;
    }
}

@media screen and (min-width: 768px) {
    .contactForm {
        margin-top: 10px;
        width: 450px;
        height: 500px;
    }
    .contactDetails {
        width: 370px;
        align-self: center;
        margin-bottom: 15px;
    }

    .contactDetails:first-child {
        margin-top: 30px;
    }
    
    label {
        margin-bottom: 10px;
    }
    label > input {
        width: 90%;
    }
    label > .textarea {
        height: 150px;
        width: 90%;
    }
    
    
    
    /* Buttons */
    
    .submitButtonForm, .resetButtonForm {

        width: 65px;
        height: 27px;
    }
    
}