footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  bottom: 0;
}

.footerContainer {
  list-style-type: none;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footerContainer > a {
  padding: 10px;
}

.footerContainer > a:hover {
  transform: scale(2, 2);
}
a > img {
  width: 20px;
  border: none;
}

.footerListElement {
  padding-right: 10px;
}
